@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<EntityLayer.BlogYazilari>

<script src="~/lib/jquery/dist/jquery.min.js"></script>


<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-2">
            <b>Arama Kutucuğu:&nbsp;<input class="form-control" type="text" id="myinput" /></b>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm text-center animate__animated animate__backInLeft animate__delay-1s" id="populer">
            <h2>Popüler Yazılar</h2>
            <hr />

            @foreach (var item in Model)
            {
               
                if (item.TurId == "Popüler" || ViewBag.ortalama < item.TikSayisi)
                {

                    <div class="card mb-2">

                        @if (item.Resim != null)
                        {
                            <div class="col text-center"><img class="card-item-top" src="data:image/jpeg;base64,@Convert.ToBase64String(item.Resim)" alt="Resim Açıklaması" width="70%" height="10%">  </div>

                        }
                        <div class="card-body">
                            <h5 class="card-title">@item.Baslik</h5>
                            <p class="card-text" style="overflow: hidden;max-height:100px">@item.Icerik</p>
                            <a href="/Home/DevaminiOku/@item.Id" class="btn btn-primary">Devamını oku</a>
                            <div class="mt-2 d-flex float-right">
                                <p class="float-right text-muted"> <i class="fa-sharp fa-regular fa-hand-pointer">&nbsp;</i>@item.TikSayisi</p>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="col-md col-sm text-center animate__animated animate__backInDown">
            <h2>Yeni Yazılar</h2>
            <hr />
            @foreach (var item in Model)
            {
                <div id="item">
                    <div class="card text-center mb-2">
                        @if (item.Resim != null)
                        {
                            <div class="col text-center">
                                <img class="card-item-top" src="data:image/jpeg;base64,@Convert.ToBase64String(item.Resim)" alt="Resim Açıklaması" width="50%" height="10%">
                            </div>
                        }
                        <div class="card-body">
                            <h5 class="card-title">@item.Baslik</h5>
                            <p class="card-text" style="overflow: hidden;max-height:100px">@item.Icerik</p>
                            <a href="/Home/DevaminiOku/@item.Id" class="btn btn-primary">Devamını oku</a>
                            <div class="mt-2 d-flex float-right">
                                <p class="float-right text-muted"> <i class="fa-sharp fa-regular fa-hand-pointer">&nbsp;</i>@item.TikSayisi</p>
                            </div>
                        </div>
                    </div>
                </div>


            }
        </div>
        <div class="col-md-3 col-sm text-center animate__animated animate__backInRight">
            <h2>Seçmeceler</h2>
            <hr />
            @foreach (var item in Model)
            {
                @if (item.TurId == "Editörün Seçtiği")
                {
                    <div class="card mb-2">

                        @if (item.Resim != null)
                        {
                            <div class="col text-center"><img class="card-item-top" src="data:image/jpeg;base64,@Convert.ToBase64String(item.Resim)" alt="Resim Açıklaması" width="70%" height="10%">  </div>

                        }


                        <div class="card-body">
                            <h5 class="card-title">@item.Baslik</h5>
                            <p class="card-text" style="overflow: hidden;max-height:100px">@item.Icerik</p>
                            <a href="/Home/DevaminiOku/@item.Id" class="btn btn-primary">Devamını oku</a>
                            <div class="mt-2 d-flex float-right">
                                <p class="float-right text-muted"> <i class="fa-sharp fa-regular fa-hand-pointer">&nbsp;</i>@item.TikSayisi</p>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>